.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #fff;
  background: #3e1b6b;
  border-top: 1px solid #b2b2b2;

  padding: 2rem;

  font-size: 1.25rem;
  font-weight: 600;

  .contacts {
    display: flex;
    align-items: center;

    p {
      margin-right: 1rem;
    }

    a {
      display: flex;
      align-items: center;

      margin-right: 0.75rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
